groq.api.key=gsk_xxxxxxxxxxxxxxxxxxxx
twilio.account.sid=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
twilio.auth.token=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
spring.datasource.url=jdbc:mysql://localhost:3306/yojna_setu
spring.datasource.username=root
spring.datasource.password=yourpassword
